body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #DDD;
    margin-bottom: 20px;
    height: 40px;
}
.header li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.header li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}

.header li a:hover {
    transition: .6s;
    background-color: #EEE;
}

table th {
    background-color: #DDD;
    padding: 5px;
}

table td {
    border: 1px solid #DDD;
    padding: 5px;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}


#busca {
    outline: 0;
    border: 0;
}