body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #DDD;
    margin-bottom: 20px;
    height: 40px;
}

.header nav {
    max-width: 1000px;
    margin: auto;
}

.header li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.header li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}

.header li a:hover {
    transition: .4s;
    background-color: #EEE;
}

table th {
    background-color: #DDD;
    padding: 5px;
}

table td {
    border: 1px solid #DDD;
    padding: 5px;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

table tr:hover td{
    background-color: #EEE;
    transition: .4s;
}

#busca {
    outline: 0;
    border: 0;
}

.form input[type=text],
.form select, 
.form textarea {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    border: 1px solid #DDD;
    outline: 0;
}

.buttonEdit {
    background-color: #CCC;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #000;
}

.buttonEdit:hover {
    background-color: #FFF;
    transition: .6s;
}

.warning {
    border: 1px solid #FF0000;
    background-color: #FF5555;
    padding: 10px;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}